<article class= "container">
  <div class= "row mt-5">
    <div class="col-10 offset-1 border-bottom border-2">
      <div class="row">
        <h1 class="h2 font-weight-bold col-md-4">ユーザー一覧</h1>
        <%= render "search", customers: @customers %>
      </div>
    </div>
  </div>
  <ul class="m-4" style="display: flex;justify-content: flex-start;gap: 20px; flex-wrap: wrap">
    <% @customer.each do |customer| %>
      <li class="py-4 bg-light px-3" style="display: flex; width: 230px;">
        <div class="ml-3">
          <%= attachment_image_tag customer, :icon, :fill, 100, 100, fallback: "no_image.jpg", size:'60x60', style:"margin-right:16px;" %>
        </div>
        <div class="text-center mx-auto">
          <%= link_to customer.name, memory_index_customer_path(customer), class: "text-dark" %><br>
              <% unless customer == current_customer %>
                <% if current_customer.following?(customer) %>
                  <%= link_to 'フォロー', unfollow_path(customer.id), method: :POST,class: "btn btn-primary badge-pill mt-1" %>
                <% else %>
                  <%= link_to 'フォロー', follow_path(customer.id), method: :POST,class: "btn btn-outline-primary badge-pill mt-1" %>
                <% end %>
              <% end %>
            </div>
          </li>
    <% end %>
  </ul>
</article>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @customer %>
  </div>
