<div>名前 <%= @customer.name %></div>
<div>プラン <%= @customer.plan %></div>
<div>公開中</div>
<% @memory_public.each do |memory| %>
  <ul>
    <li>
      <%= link_to memory_path(memory) do %>
        <%= memory.memory_title %>
        <%= truncate(memory.memory_detail,length: 20,omission: "続きへ") %>
        ♡<%= memory.favorites.count %>
        コメント(<%= memory.comments.count %>)

      <% end %>
    </li>
  </ul>

<% end %>

<div>限定公開一覧</div>
<% if current_customer.mutual_follow?(@customer) || @customer == current_customer %>
  <% @memory_follower_only.each do |memory| %>
    <ul>
      <li>
        <%= link_to memory_path(memory) do %>
          <%= memory.memory_title %>
          <%= memory.memory_detail.truncate(8) %>
          ♡<%= memory.favorites.count %>
          コメント(<%= memory.comments.count %>)

        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>