<h3>マイページ</h3>
<%= form_with model: @customer,lacal:true do |f| %>
    <div>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>
    <div>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    <div>
    <div>
      <div>ID</div>
      <%= @customer.customer_number %>
    </div>
  <% unless @customer.plan.zero? %>
    <div>
      <div>支払い方法</div>
      <%= @customer.order.payment_method %>
    </div>
  <% end %>
    <div>
      <div>プラン</div>
      <%= @customer.plan %>
    </div>
  <% unless @customer.plan.zero? %>
    <div>
      <div>料金</div>
      <%= @customer.order.price %>
    </div>
  <% end %>  
  <%= f.submit "編集する" %>
<% end %>