<h3>マイページ</h3>
<%= form_with model: @customer,lacal:true do |f| %>
    <div>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>
    <div>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>
    <div>
    <div>
      <div>ID</div>
      <%= @customer.customer_number %>
    </div>
  <% unless @customer.plan == "無料" %>
    <div>
      <div>支払い方法</div>
      <%= @customer.order.payment_method %>
    </div>
  <% end %>
    <div>
      <div>プラン</div>
      <%= @customer.plan %>
    </div>
  <% unless @customer.plan == "無料" %>
    <div>
      <div>料金</div>
      <%= @customer.order.price %>
    </div>
  <% end %>
  <h4>画像</h4>
  <%= f.attachment_field :icon %>
   <%= attachment_image_tag @customer, :icon, :fill, 60, 60, fallback: "no_image.jpg" %>
  
  <%= f.submit "編集する" %>
<% end %>
<div>相互フォロー</div>
<% @mutual_follow.each do |customer| %>
 <%= attachment_image_tag customer, :icon, :fill, 60, 60, fallback: "no_image.jpg" %>
 <%= customer.name %>
  <% unless customer == current_customer %>
    <% if current_customer.following?(customer) %>
      <%= link_to 'フォロー外す', unfollow_path(customer.id), method: :POST %>
    <% else %>
      <%= link_to 'フォローする', follow_path(customer.id), method: :POST %>
    <% end %>
  <% end %>
<% end %>

<div>フォロー</div>
<% @follow.each do |customer| %>
 <%= attachment_image_tag customer, :icon, :fill, 60, 60, fallback: "no_image.jpg" %>
 <%= customer.name %>
  <% unless customer == current_customer %>
    <% if current_customer.following?(customer) %>
      <%= link_to 'フォロー外す', unfollow_path(customer.id), method: :POST %>
    <% else %>
      <%= link_to 'フォローする', follow_path(customer.id), method: :POST %>
    <% end %>
  <% end %>
<% end %>

<div>フォロワー</div>
<% @follower.each do |customer| %>
 <%= attachment_image_tag customer, :icon, :fill, 60, 60, fallback: "no_image.jpg" %>
 <%= customer.name %>
  <% unless customer == current_customer %>
    <% if current_customer.following?(customer) %>
      <%= link_to 'フォロー外す', unfollow_path(customer.id), method: :POST %>
    <% else %>
      <%= link_to 'フォローする', follow_path(customer.id), method: :POST %>
    <% end %>
  <% end %>
<% end %>