  <section class= "container">
    <div class= "row mt-5">
      <h1 class= "h4 font-weight-bold col-md-4 offset-1">確認画面</h1>
    </div>
    <dl>
      <div class= "row mt-5 offset-1">
        <dt class= "col-md-4">名前</dt>
        <dd class= "col-md-7"><%= @contact.name %></dd>
      </div>
      <div class= "row mt-5 offset-1">
        <dt class= "col-md-4">メールアドレス</dt>
        <dd class= "col-md-7"><%= @contact.email %></dd>
      </div>
      <div class= "row mt-5 offset-1">
        <dt class= "col-md-4">件名</dt>
        <dd class= "col-md-7"><%= @contact.subject %></dd>
      </div>
      <div class= "row mt-5 offset-1">
        <dt class= "col-md-4">本文</dt>
        <dd class= "col-md-7"><%= @contact.message %></dd>
      </div>
    
    <%= form_with model: @contact, url: contacts_path,local:true do |f| %>
    <%= f.hidden_field :name, value: @contact.name  %>
    <%= f.hidden_field :email, value: @contact.email  %>
    <%= f.hidden_field :subject, value: @contact.subject  %>
    <%= f.hidden_field :message, value: @contact.message  %>
    <div class= "row mt-5 offset-3">
      <%= f.submit '送信する',class: "btn btn-primary col-2 badge-pill offset-2" %>
    </div>
  </dl>
<% end %>
</section>