<%= form_with model: @contact, url: confirm_contacts_path,local:true do |f| %>
  <div>
    <%= f.label :name, "【名前】" %>
    <%= f.text_field :name %>
  <div>
  <div>
    <%= f.label :email, "【メールアドレス】" %>
    <%= f.email_field :email %>
  <div>
  <div>
    <%= f.label :subject, "【件名】" %>
    <%= f.text_field :subject %>
    </br>
    <%= f.label :message, "【本文】" %>
    <%= f.text_area :message %>
  <div>
  <div>
    <%= f.submit '確認画面へ' %>
  </div>
<% end %>