<section class= "container ">
  <h1 class= "h3">お問い合わせ</h1>
  <%= form_with model: @contact, url: confirm_contacts_path,local:true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <dl>
      <div class= "row">
        <dt class= "col-md-3 mx-auto">【名前】</dt>
        <dd class= "col-md-8 mx-auto"><%= f.text_field :name, class: "form-control col-md-8 mx-auto" %></dd>
      </div>
      <div class= "row">  
        <dt class= "col-md-3 mx-auto">【メールアドレス】</dt>
        <dd class= "col-md-8 mx-auto"><%= f.email_field :email, class: "form-control col-md-8 mx-auto" %></dd>
      </div>
      <div class= "row">
        <dt class= "col-md-3 mx-auto">【件名】</dt>
        <dd class= "col-md-8 mx-auto"><%= f.text_field :subject, class: "form-control col-md-8 mx-auto" %></dd>
      </div>
      <div class= "row">
        <dt class= "col-md-3 mx-auto">【お問い合わせ内容詳細】</dt>
        <dd class= "col-md-8 mx-auto"><%= f.text_area :message, class: "form-control col-md-8 mx-auto" , :rows => 7 %></dd>
      </div>
      <div class= "row">
        <%= f.submit '確認画面へ',class: "mx-auto btn btn-primary", style: "margin-top: 30px;" %>
      </div>
    </dl>
  <% end %>
</section>