<div class= "container">
  
  <div class= "row offset-3 mt-3 mb-n5">
    <%= render "customers/shared/error_messages", resource: resource %>
  </div>
  
  <div class= "row mt-5">
    <h2 class= "h4 font-weight-bold col-md-4 offset-3">アカウント作成</h2>
  </div>
  
  <div class= "row mt-3">
    <h2 class= "h6 font-weight-bold col-md-3 offset-3 mb-0">アカウントをお持ちの方</h2>
    <p><%= link_to "サイトイン", new_customer_session_path,class: "col-md-3 font-weight-bold" %></p>
  </div>
  
<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
  <div class="row mt-3">
    <%= f.label :name, "名前",class: "col-md-3 offset-3" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "col-md-3" %>
  </div>

  <div class="row mt-5">
    <%= f.label :email, "メールアドレス",class: "col-md-3 offset-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-md-3" %>
  </div>

  <div class="row mt-5">
    <%= f.label :customer_number, "ID(半角英数字のみ)",class: "col-md-3 offset-3" %>
    <%= f.text_field :customer_number, autofocus: true, autocomplete: "customer_number",class: "col-md-3" %>
  </div>

  <div class="row mt-5">
    <%= f.label :password,"パスワード(#{@minimum_password_length}文字以上)",class: "col-md-3 offset-3" %>
    <%= f.password_field :password, autocomplete: "new-password",class: "col-md-3" %>
  </div>

  <div class="row mt-5">
    <%= f.label :password_confirmation, "パスワード(確認用)",class: "col-md-3 offset-3" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "col-md-3" %>
  </div>

  <div class="row mt-5 mb-5">
    <%= link_to "トップに戻る", root_path,class: "btn btn-primary col-2 badge-pill offset-3" %>
    <%= f.submit "サイトアップ",class: "btn btn-primary col-2 badge-pill offset-2" %>
  </div>
<% end %>
</div>





