<div class="col-10 offset-1">
  <%= form_with model: [memory, comment], url: memory_comments_path(@memory), method: :post, remote: true do |f| %>
    <div class="row mx-auto">
        <div class="col-8 mx-auto">
       <%= f.text_area :comment, placeholder: "コメントを入力" , class: "form-control" , :rows => 5  %>
        </div>
        <div class="col-2 d-flex align-items-end">
       <%= f.submit "コメント",class: "btn btn-primary col-10 badge-pill" %>
        </div>
    </div>
  <% end %>
</div>

        <% memory.comments.each do |comment| %>
          <div class="col-8 offset-2 bg-primary text-white my-5 p-4">
            <%= link_to memory_index_customer_path(comment.customer) do %>
              <div class="row">
                <div class="col-1"><%= attachment_image_tag comment.customer.icon, :icon, :fill, 60, 60, fallback: "no_image.jpg",class: "" %></div>
  
                <div class="text-white font-weight-bold col-2 my-auto"><%= comment.customer.name %></div>
                <div class="text-white col-3 my-auto font-weight-bold mr-auto"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
                  <div class="col-2">
                  <% if comment.customer.id == current_customer.id %>
                    <%= link_to "削除", memory_comment_path(comment.memory_id, comment),method: :delete, remote: true,class: "text-danger btn btn-light badge-pill" %>
                  <% end %>
                  </div>
              </div>
            <% end %>
            <div class="my-3">
              <%= comment.comment %>
            </div>
          </div>
        <% end %>
