<article>
  <h3>ニュース</h3><%= link_to "ニュース一覧", informations_path %>
  <%= render "public/informations/index", information: @information %>
</article>
<%= flash[:notice] %>
<%= render 'public/orders/new', plan_id: 1, price_id: 1 %>
<%= render 'public/orders/new', plan_id: 2, price_id: 2 %>