<%= link_to "戻る", admin_customers_path(@customer) %>
<h3>マイページ</h3><%= link_to  memory_index_admin_customer_path(@customer) do  %>
<%= @customer.name %>の投稿一覧
<% end %>
  <% if flash[:success] %>
    <p><%= render 'layouts/flash_messages' %></p>
  <% end %>
  <p><%= render 'layouts/error_messages', model: @customer %></p>
<%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, local:true do |f| %>
    <%= attachment_image_tag @customer, :icon, :fill, 60, 60, fallback: "no_image.jpg" %>
    <div>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>
    <div>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>
    <div>
    <div>
      <%= f.label :customer_number, "ID" %>
      <%= f.text_field :customer_number %>
    </div>
      <% unless @customer.plan == "free_plan" %>
        <div>
          <div>支払い方法</div>
          <div><%= @customer.orders.last.payment_method_i18n %></div>
        </div>
      <% end %>
        <div>
          <div>プラン</div>
          <div><%= @customer.plan_i18n %></div>
        </div>
      <% unless @customer.plan == "free_plan" %>
        <div>
          <div>料金</div>
          <div><%= @customer.orders.last.price %></div>
        </div>
      <% end %>
  <div>会員ステータス</div>
    <%= f.select :is_active, Customer.is_actives_i18n.keys.map{|k| [I18n.t("enums.customer.is_active.#{k}"), k]}%>
  <div>
  <%= f.submit "編集する" %>
  </div>
<% end %>