<%= link_to "戻る", admin_customer_path(@customer) %>
<h3>マイページ</h3><%= link_to  memory_index_admin_customer_path(@customer) do  %>
<%= @customer.name %>の投稿一覧
<% end %>
<%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, lacal:true do |f| %>
    <div>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>
    <div>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>
    <div>
    <div>
      <%= f.label :customer_number, "ID" %>
      <%= f.text_field :customer_number %>
    </div>
  <%# unless @customer.plan == "無料" %>
    <div>
      <div>支払い方法</div>
      <%#= @customer.order.payment_method %>
    </div>
  <%# end %>
    <div>
      <div>プラン</div>
      <%= f.select :plan, Customer.plans.keys.to_a, {} %>
    </div>
  <%# unless @customer.plan == "無料" %>
    <div>
      <div>料金</div>
      <%#= @customer.order.price %>
    </div>
  <%# end %>
  <div>
  <%= f.submit "編集する" %>
  </div>
<% end %>