<%= @contact.created_at.strftime('%Y/%m/%d') %>
<h3><%= @contact.subject %></h3>
<div>メールアドレス:<%= @contact.email %>名前:<%= @contact.name %></div>
<%= link_to "削除", admin_contact_path(@contact), method: :delete %>
<%= link_to "戻る", admin_contacts_path %>
<div><%= @contact.message %></div>