<h3><%= @memory.memory_title %></h3>
<div>
  <div>名前<%= @memory.customer.name %></div>
  <% @memory_tags.each do |tag| %>
    <div><%= tag.tag_name %></div>
  <% end %>
  <%= @memory.created_at.strftime('%Y/%m/%d') %>
  <%= link_to "削除", admin_memory_path(@memory), method: :delete %>
  <%= link_to "戻る", memory_index_admin_customer_path(@customer) %>
</div>
<div><%= @memory.memory_detail %></div>
<% if @memory.memory_images.present? %>
  <% @memory.memory_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 60, 60 %>
  <% end %>
<% end %>
<div id="comment">
 <%= render "admin/comments/comment", memory: @memory,comment: @comment %>
</div>