<article class= "container">
  <div class= "row mt-5">
    <div class="col-10 offset-1  mb-4">
      <h1 class="h2 font-weight-bold col-md-4"><%= @tag.tag_name %> タグ一覧</h1>
    </div>
  </div>
  <div class= "row mt-3">
    <div class="col-10 offset-1 border-bottom border-2 mb-4">
      <h1 class="h2 font-weight-bold col-md-4">公開中</h1>
    </div>
  </div>
  <ul class="list-unstyled row justify-content-around">
      <% @memory_public.each do |memory| %>
            <li class="card mt-4" style="width: 18rem;">
              <div class="card-body">
                <%= link_to admin_memory_path(memory) do %>
                  <h6 class="card-title text-dark font-weight-bold"><%= memory.memory_title %></h6>
                  <p class="small card-text text-dark mb-3"><%= truncate(memory.memory_detail,length: 20) %></p>
                <% end %>
                    <% memory.memory_tags.first(3).each do |tag| %>
                      <span><%= link_to tag.tag_name, admin_tag_index_path(@customer,tag),class: "badge badge-pill badge-primary" %></span>
                    <% end %>
                    <div class="text-danger font-weight-bold card-text mt-2">♡<%= memory.favorites.count %>
                      <span class="text-muted font-weight-bold card-text">コメント(<%= memory.comments.count %>)</span>
                    </div>
              </div>
            </li>
      <% end %>
  </ul>
    <div class="d-flex justify-content-center mt-4">
      <%= paginate @memory_public %>
    </div>
  <div class= "row mt-5">
    <div class="col-10 offset-1 border-bottom border-2 mb-4">
      <h2 class="h2 font-weight-bold col-md-4">限定公開一覧</div>
    </div>
  </div>
  <ul class="list-unstyled row justify-content-around">
      <% @memory_follower_only.each do |memory| %>
        <li class="card mt-4" style="width: 18rem;">
          <div class="card-body">
            <%= link_to admin_memory_path(memory) do %>
              <h6 class="card-title text-dark font-weight-bold"><%= memory.memory_title %></h6>
              <p class="small card-text text-dark mb-3"><%= truncate(memory.memory_detail, length: 20) %></p>
            <% end %>
              <% memory.memory_tags.first(3).each do |tag| %>
                <span><%= link_to tag.tag_name, admin_tag_index_path(@customer,tag),class: "badge badge-pill badge-primary" %></span>
              <% end %>
              <div class="text-danger font-weight-bold card-text mt-2">♡<%= memory.favorites.count %>
                <span class="text-muted font-weight-bold card-text">コメント(<%= memory.comments.count %>)</span>
              </div>
          </div>
        </li>
      <% end %>
  </ul>
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @memory_follower_only %>
  </div>
  
  </article>