
  <table class="table col-8 offset-2 my-auto py-5">
    <tbody>
      <% information.each do |information| %>
            <tr class="col-10 offset-1 border-bottom border-2 py-5">
              <td>
                <%= link_to information_path(information),class: "row text-decoration-none" do %>
                  <div class="col-3 text-body"><%= information.created_at.strftime('%Y/%m/%d') %></div>
                  <div class="col-3 text-body"><%= information.admin_genre&.name %></div>
                  <div class="col-5 text-body"><%= truncate(information.information_title,length: 15)  %></div>
                  <div class="col-1"><img src="<%= asset_path("asset1.png") %>" alt="" class="asset1"></div>
                <% end %>
              </td>
            </tr>
      <% end %>
    </tbody>
  </table>
