<!DOCTYPE html>
<html>
  <head>
    <title>Ending</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="">
      <li>EndingCompany</li>
      <li>トップ</li>
      <li>問い合わせ</li>
      <li>ログイン</li>
      <li>サイトアップ</li>
    </ul>
    <%= yield %>
  </body>
</html>
